@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model radFB.db.Tbl_posterTemplate
@{
    ViewData["Title"] = "EditPosterTemplate";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">قالب های پوستر</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-left">
                        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Account">خانه</a></li>
                        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="posterTemplate">قالب های پوستر</a></li>
                        <li class="breadcrumb-item active">ویرایش کردن</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <!-- Main row -->
            <div class="row">
                <!-- Left col -->
                <section class="col-lg-12 ">
                    <!-- Custom tabs (Charts with tabs)-->
                    <div class="card">
                        <div class="card-header d-flex p-0">
                            <h3 class="card-title p-3">
                                <i class="fa fa-gears mr-1"></i>
                                اضافه کردن قالب
                            </h3>
                        </div><!-- /.card-header -->
                        @if (TempData["error"] != null)
                    {
                        <div class="alert alert-danger alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <h6><i class="icon fa fa-ban"></i> توجه!</h6>
                            @TempData["error"]
                        </div>
                    }

                        <form role="form" method="post" enctype="multipart/form-data" asp-action="EditPosterTemplate" asp-controller="posterTemplate">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="title">نام قالب</label>
                                            <input asp-for="posterName" type="text" class="form-control" id="title"
                                                   placeholder="نام مورد نظر">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="desc">توضیحات قالب</label>
                                            <textarea type="text" class="form-control" id="desc"
                                                      asp-for="posterDescription" placeholder="توضیحات مورد نظر"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <input name="InputFile" id="InputFile" type="file"
                                               onchange="function();" hidden>
                                        <label for="InputFile" class="btn btn-info white-text btn-upload">
                                            <i class="fa fa-file right"></i>انتخاب فایل
                                        </label>
                                        <section>
                                            <div class="md-form">
                                                <input asp-for="posterFileAddress" type="text" id="FileName" class="form-control" disabled>
                                            </div>
                                        </section>
                                    </div>

                                    <div class="col-lg-4">
                                        <input name="InputFile2" id="InputFile2" type="file"
                                               onchange="function();" hidden>
                                        <label for="InputFile2" class="btn btn-info white-text btn-upload">
                                            <i class="fa fa-file right"></i>انتخاب فایل
                                        </label>
                                        <section>
                                            <div class="md-form">
                                                <input asp-for="templatePic" type="text" id="FileName2" class="form-control" disabled>
                                               <img id="image"  accept="image/x-png,image/jpeg,image/jpg" class=" upload-image img-rounded"
                                               src="../../dist//img/no_avatar.jpg" alt="">
                                            </div>
                                        </section>
                                    </div>
                                </div>
                            </div>

                            <!-- /.card-body -->
                            <div class="card-footer">
                                <a asp-action="Index" asp-controller="posterTemplate" class="btn btn-primary">بازگشت به لیست</a>
                                <button type="submit" class="btn btn-success">ثبت</button>
                            </div>
                        </form>
                    </div>
                    <!-- /.card -->
                </section>
                <!-- /main col -->
            </div>
            <!-- /.row (main row) -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->


@section Scripts{
    <script>
        $(function () {
            InputFile.onchange = evt => {
                const [file] = InputFile.files
                if (file) {
                    //image.src = URL.createObjectURL(file)
                    var filename = $('#InputFile').val();
                    $('#FileName').val(filename);
                }
            }

            InputFile2.onchange = evt => {
                const [file] = InputFile2.files
                if (file) {
                    image.src = URL.createObjectURL(file)
                    var filename2 = $('#InputFile2').val();
                    $('#FileName2').val(filename2);
                }
            }
        })
    </script>
}



