################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/radFB/.config
/radFB/.vscode
/radFB/bin
/radFB/obj
/radFB/Properties
