@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model radFB.db.Tbl_jobCategory
@{
    ViewData["Title"] = "EditJob";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">دسته بندی مشاغل</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-left">
                        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Account">خانه</a></li>
                        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="job">دسته بندی مشاغل</a></li>
                        <li class="breadcrumb-item active">ویرایش کردن</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <!-- Main row -->
            <div class="row">
                <!-- Left col -->
                <section class="col-lg-12 ">
                    <!-- Custom tabs (Charts with tabs)-->
                    <div class="card">
                        <div class="card-header d-flex p-0">
                            <h3 class="card-title p-3">
                                <i class="fa fa-gears mr-1"></i>
                                دسته بندی مشاغل در برنامه
                            </h3>
                        </div><!-- /.card-header -->

                        @if (TempData["failedEdit"] != null)
                    {
                        <div class="alert alert-danger alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <h6><i class="icon fa fa-ban"></i> توجه!</h6>
                            @TempData["failedEdit"]
                        </div>
                    }

                        <form role="form" asp-action="EditJob" asp-controller="job" method="post">
                            <div class="card-body">
                                <div class="row">
                                  
                                        <input asp-for="jobCategoryID" type="hidden" />
                                   
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="tele">عنوان فارسی</label>
                                            <input asp-for="PrJobCategoryTitle" type="text" class="form-control"
                                                   placeholder="نام مورد نظر">
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="tele">عنوان انگلیسی</label>
                                            <input asp-for="EnJobCategoryTitle" type="text" class="form-control"
                                                   placeholder="نام مورد نظر">
                                        </div>
                                    </div>
                                    
                                    <div class="col-lg-4">
                                        <label>اصناف</label>
                                        <select asp-for="fk_guildID" asp-items="ViewBag.Guids" class="form-control select2">
                                            <option>انتخاب کنید</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <!-- /.card-body -->

                            <div class="card-footer">
                                <a asp-action="Index" asp-controller="job" type="submit" class="btn btn-primary">بازگشت به لیست</a>
                                <button type="submit" class="btn btn-success">ویرایش</button>
                            </div>
                        </form>
                    </div>
                    <!-- /.card -->
                </section>
                <!-- /main col -->
            </div>
            <!-- /.row (main row) -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
