@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model radFB.db.Tbl_permiumPackage
@{
    ViewData["Title"] = "AddPermium";
    Layout = "~/Views/Shared/Layout.cshtml";

    List<radFB.db.Tbl_setting> tbl_Settings = new List<radFB.db.Tbl_setting>();
    radFB.Repository.repPermium rep = new radFB.Repository.repPermium();
    tbl_Settings = rep.settingList();
}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">بسته های پرمیوم</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-left">
                        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Account">خانه</a></li>
                        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="permium">بسته های پرمیوم</a></li>
                        <li class="breadcrumb-item active">اضافه کردن</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <!-- Main row -->
            <div class="row">
                <!-- Left col -->
                <section class="col-lg-12 ">
                    <!-- Custom tabs (Charts with tabs)-->
                    <div class="card">
                        <div class="card-header d-flex p-0">
                            <h3 class="card-title p-3">
                                <i class="fa fa-gears mr-1"></i>
                                بسته های پرمیوم موجود در برنامه
                            </h3>
                        </div><!-- /.card-header -->
                        <form role="form" asp-action="AddPermium" asp-controller="permium" method="post">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="tele">نام بسته</label>
                                            <input asp-for="permiumPackageTitle" type="text" class="form-control" id="accessName"
                                                   placeholder="نام بسته مورد نظر">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <label>گزینه های بسته</label>
                                        <div class="row">
                                            @foreach (var item in tbl_Settings)
                                            {
                                                <div class="col-lg-3">
                                                    <div class="form-group">
                                                        <label>
                                                            <input type="checkbox" value="@item.settingID" class="flat-red" name="access">
                                                            @item.prSettingTitle
                                                        </label>
                                                    </div>
                                                </div>

                                            }

                                            <input type="hidden" asp-for="selectedOptions" id="settingsID" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="monthPrice">قیمت </label>
                                            <input asp-for="price" type="tel" class="form-control price" id="monthPrice"
                                                   placeholder="وارد کردن قیمت">
                                        </div>
                                    </div>
                                    <div class="col-lg-4 offset-2">
                                        <div class="form-group">
                                            <label for="yearPrice">مدت زمان</label>
                                            <input asp-for="time" type="number" class="form-control price" id="yearPrice"
                                                   placeholder="وارد کردن تعداد روز">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer">
                                <a asp-action="Index" asp-controller="permium" class="btn btn-primary">بازگشت به لیست</a>
                                <button type="submit" class="btn btn-success">ثبت</button>
                            </div>
                        </form>
                    </div>
                    <!-- /.card -->
                </section>
                <!-- /main col -->
            </div>
            <!-- /.row (main row) -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->


@section Scripts{
    <script>
        $(document).on("keyup", ".price", function () {
            var text = $(this).prop("value").replace(",", "")
            $(this).prop("value", text.replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,"));
        });
        $(function () {
            $('.select2').select2()
        })



        $(document).ready(function () {

            var listID;
            var activity = $("#settingsID").val();
            var s = "";
            $('body').on('change', "input[name='access']", function () {
                s = $(this).val();
                if ($(this).is(':checked')) {
                    activity = activity + "," + $(this).val();
                    s = "," + $(this).val();
                }
                else
                    activity = activity.replace("," + s, "");
                $("#settingsID").val(activity);
            });

        });

    </script>
}
