@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model radFB.ViewModels.VmDetailAdv
@{
    ViewData["Title"] = "showDetail";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">آگهی ها</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-left">
                        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Account">خانه</a></li>
                        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="adv">آگهی ها</a></li>
                        <li class="breadcrumb-item active">ویرایش کردن</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <!-- Main row -->
            <div class="row">
                <!-- Left col -->
                <section class="col-lg-12 ">
                    <!-- Custom tabs (Charts with tabs)-->
                    <div class="card">
                        <div class="card-header d-flex p-0">
                            <h3 class="card-title p-3">
                                <i class="fa fa-gears mr-1"></i>
                                آگهی ثبت شده
                            </h3>
                        </div><!-- /.card-header -->
                        <form role="form">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="tele">نام ثبت کننده</label>
                                            <input asp-for="name" type="text" class="form-control" id="accessName"
                                                   disabled placeholder="وارد کردن نام">
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label>تاریخ</label>
                                            <input asp-for="date" disabled type="text" class="form-control" />
                                        </div>
                                    </div>

                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label>زمان</label>
                                            <input asp-for="time" disabled type="text" class="form-control" />
                                        </div>
                                    </div>

                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label>جنسیت</label>
                                            <input asp-for="gender" disabled type="text" class="form-control" />
                                        </div>
                                    </div>

                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label>وضعیت سربازی</label>
                                            <input asp-for="mss" disabled type="text" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label>دسته بندی</label>
                                            <input asp-for="categoty" disabled type="text" class="form-control" />
                                        </div>
                                    </div>

                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label>گروه صنعتی</label>
                                            <input asp-for="grade" disabled type="text" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label>حقوق</label>
                                            <input asp-for="salary" disabled type="text" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label>مهارت ها</label>
                                            <input asp-for="skiils" disabled type="text" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label>تجربه کاری</label>
                                            <input asp-for="expriense" disabled type="text" class="form-control" />
                                        </div>
                                    </div>

                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label>کشور</label>
                                            <input asp-for="country" disabled type="text" class="form-control" />
                                        </div>
                                    </div>

                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label>استان</label>
                                            <input asp-for="province" disabled type="text" class="form-control" />
                                        </div>
                                    </div>

                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label>زمان کاری</label>
                                            <input asp-for="cooper" disabled type="text" class="form-control" />
                                        </div>
                                    </div>



                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label>عنوان</label>
                                            <input asp-for="title" type="text" class="form-control" id="accessName"
                                                   disabled placeholder="عنوان" />
                                        </div>
                                    </div>

                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label>وضعیت آگهی </label>
                                          
                                                @if (Model.status == true)
                                                {
                                                    <input value="تایید شده" type="text" class="form-control" id="accessName"
                                                           disabled placeholder="عنوان" />
                                                }
                                                else
                                                {
                                                    <input value="تایید نشده" type="text" class="form-control" id="accessName"
                                                           disabled placeholder="عنوان" />
                                                }
                                            
                                        </div>
                                    </div>

                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label>آکهی دهنده</label>
                                         
                                                @if (Model.type == true)
                                                {
                                                <input value="کارفرما" type="text" class="form-control" id="accessName"
                                                       disabled placeholder="عنوان" />
                                                }
                                                else
                                                {
                                                    <input value="استخدام شونده" type="text" class="form-control" id="accessName"
                                                       disabled placeholder="عنوان" />
                                                }
                                          
                                        </div>
                                    </div>


                                </div>


                            </div>


                            <!-- /.card-body -->



                            <div class="card-footer">
                                <a asp-action="Index" asp-controller="adv" class="btn btn-primary">بازگشت به لیست</a>
                                @*<button type="submit" class="btn btn-success">ویرایش</button>*@
                            </div>
                        </form>
                    </div>
                    <!-- /.card -->
                </section>
                <!-- /main col -->
            </div>
            <!-- /.row (main row) -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
