@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model radFB.db.Tbl_postChanged
@{
    ViewData["Title"] = "EditPost";
    Layout = "~/Views/Shared/Layout.cshtml";

    radFB.Repository.repRadfbUsers rep = new radFB.Repository.repRadfbUsers();
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>پست ها</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-left">
                        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Account">خانه</a></li>
                        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Post">پست ها</a></li>
                        <li class="breadcrumb-item active"> ویرایش پست</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header d-flex p-0">
                        <h3 class="card-title p-3">
                            <i class="fa fa-gears mr-1"></i>
                            پست های قرار گرفته در برنامه
                        </h3>
                    </div><!-- /.card-header -->
                    @if (TempData["faield"] != null)
                    {
                        <div class="alert alert-danger alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <h6><i class="icon fa fa-ban"></i> توجه!</h6>
                            @TempData["faield"]
                        </div>
                    }

                    <form role="form" method="post" enctype="multipart/form-data" asp-action="EditPost" asp-controller="Post">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label for="name">کاربر ثبت کننده</label>
                                        <input disabled type="text" class="form-control" id="name"
                                               placeholder="وارد کردن نام" value="@rep.fullName(Model.fk_userID)">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <input asp-for="postChangedPic" id="InputFile" type="file"
                                           onchange="Open_File(event)"
                                           accept="image/x-png,image/jpeg,image/jpg" hidden>
                                    <label for="InputFile" class="btn btn-info white-text btn-upload">
                                        <i class="fa fa-image right"></i>انتخاب عکس
                                    </label>
                                    <section>
                                        <div class="md-form">
                                            <input type="text" id="ImageName" class="form-control" disabled>
                                            <label for="Image" id="lbl_image"> تصویر </label>
                                        </div>
                                    </section>
                                    <section>
                                        <img id="image" class=" upload-image img-rounded"
                                             src="~/uploads/@Model.postChangedPic" alt="">
                                    </section>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label for="desc">توضیحات</label>
                                        <textarea asp-for="postChangedExplain" type="text" class="form-control" id="desc"
                                                  placeholder="توضیحات پست"></textarea>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>
                                            <input asp-for="postChangedStatus" type="checkbox" class="flat-red">
                                            تایید شده
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->

                        <div class="card-footer">
                            <a asp-action="Index" asp-controller="Post" class="btn btn-primary">بازگشت به لیست</a>
                            <button type="submit" class="btn btn-success">ویرایش</button>
                        </div>
                    </form>
                </div>

            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

@section Scripts{

    <script>
        $('document').ready(function () {

            InputFile.onchange = evt => {
                const [file] = InputFile.files
                if (file) {
                    image.src = URL.createObjectURL(file)
                    var filename = $('#InputFile').val();
                    $('#ImageName').val(filename);
                }
            }
        });

    </script>
}