@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<form role="form" asp-action="AddSkill" asp-controller="skills" method="post">
    <div class="card-body">
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="tele">عنوان فارسی</label>
                    <input name="PrSkillTitle" type="text" class="form-control" id="FAaccessName" placeholder="نام مورد نظر" required>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="tele">عنوان انگلیسی</label>
                    <input name="EnSkillTitle" type="text" class="form-control" id="ENaccessName" placeholder="نام مورد نظر" required>
                </div>
            </div>
        </div>
    </div>
    <!-- /.card-body -->
    <div class="card-footer">
        <button type="submit" class="btn btn-success">ثبت</button>
    </div>
</form>